<header class="main_common main_common--border_radiosTopleft  main_common--border_radiosTopRight  main_common--bordertop main_common--borderleft main_common--border_rigth main_common-gap-initial">
    <div class="container-company">

      <span class="container-company__name">
            <a href="/" title="Return to home page"> 
            CSE Motors
            </a>
        </span>
        <span class="container-company__myaccount">
            <% if( locals.loggedin ){ %>
                <a title="Go to Account Management Page" href="/account/">Welcome <%= locals.accountData.account_firstname.trim() %> </a>
                <a title="Click to log out" href="/account/logout">Log Out</a>
            <% }else{%>
                <a href="/account/login">
                    My Account
                </a>
            <% } %>


        </span>
    </div>
    
<div id="wrapper">
    <%- include('../partials/nav') %>
</div>

</header>       