<div class="upgrades__square-container">

  <div class="upgrades__square">
    <img src="<%= imgSrc %>" alt="<%= description %>" class="upgrades__square-image">
  </div>
  <a href="<%= linkHref %>" class="upgrades__square-link"><%= linkText %></a> 
</div>
 