<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <header class="main_common main_common--border_radiosTopleft  main_common--border_radiosTopRight  main_common--bordertop main_common--borderleft main_common--border_rigth main_common-gap-initial">
            <div class="container-company">
              <div class="container-company__name">CSE Motors</div>
              <div class="container-company__myaccount">My Account</div>
            </div>
            
        <div id="wrapper">
            <%- include('../partials/nav') %>
        </div>

        </header>       
        <main  class="main main_common  main_common--borderleft main_common--border_rigth ">
            <%- body %>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>