<% if (title) { %>
  <h1  class="global_h1_title">
    <%= title %>
  </h1>
  <% } else { res.redirect('/') } %>
    <div id="addClassificationView">
      <%#- messages() %>
    

        <% if (errors) { %>
          <ul class="notice">
            <% errors.array().forEach(error=> { %>
              <li>
                <%= error.msg %>
              </li>
              <% }) %>
          </ul>
          <% } %>
         
            <form class="login_form" action="/inv/add-classification" method="post">
              <fieldset>
                <label class="top">Classification Name* <input type="text" name="classification_name" required
                    id="classification_name" pattern="^[a-zA-Z]*$"></label>
                <p>Name must be alphabetic characters only</p>
                <input type="submit" value="Add Classification" class="submit_boton_global">
              </fieldset>
            </form>
    </div>