  
  
  <% if (title) { %>
    <h1 class="global_h1_title"><%= title %></h1>
      <% } else {
        res.redirect('/')
      } %>

  


  <%- notices() %>
  <% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <%  }) %>
   </ul>
  <% } %> 
  <div class="management_w4">
    
  <form class="login_form  management_w4-caja" action="/inv/inventory-on-sales" method="post">
      
      <label class="login_form_input" id="classification-label">Classification <%- classification %></label>                        
       <input type="hidden" name="model_id" value="">

       <input type="hidden" name="inv_id" id="inv_id"  value="">
  </form>


  <div id="detailsVehicleContainer">
    <!-- Aquí se cargarán los detalles del vehículo -->
  </div>


  </div> 

  <script>


  const elemntList = document.getElementById('modelList');
  console.log("*******elemntList:",elemntList);

  if(elemntList){

     
    function loadVehicleDetails(event) {


        


      // const modelId =( document.querySelector('input[name="model_id"]').value) ;    
      // console.log('loadVehicleDetails.modelId:', modelId);

      
        const inv_id =  parseInt( event.target.value);
        console.log( 'before vehicleId:', inv_id );

        




        if (inv_id) {

          let objinv_id = document.getElementById('inv_id');
         if( objinv_id){

          objinv_id.value=inv_id ;

          console.log( '** let objinv_id = document.getElementById(inv_id);:', objinv_id );

         }




          console.log( 'vehicleId:', inv_id );
                 ///inventory-on-sales/check/:id          
            fetch(`/inv/vehicle-on-sales-details-check/${inv_id}`)

                .then(response => response.text())
                .then(data => {

  console.log('loadVehicleDetails(events).data:',data );

                    document.getElementById('detailsVehicleContainer').innerHTML = data;
                });
        }else{

          document.getElementById('detailsVehicleContainer').innerHTML =``;
        }
    }

    elemntList.addEventListener('change', loadVehicleDetails);



  }//----






  </script> 