<% if (title) { %>
  <h1 class="global_h1_title"><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
  <%- notices()   %>
<div class="management_w4">
    <%#- messages() %>

    <% if (errors) { %>
      <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <%  }) %>
    </ul>
    <% } %>
    <div class="management_w4-caja">
      <a class="submit_boton_global add_margin_bottom" href="/inv/add-classification/">Add New Classification</a>
      <a class="submit_boton_global add_margin_bottom" href="/inv/add-inventory/">Add New Vehicle</a>
      <a class="submit_boton_global add_margin_bottom" href="/inv/inventory-on-sales/">Vehicle on Sales</a>
    </div> 
</div>


<form class="login_form" action="/inv/choose-action" method="post">
    <h2 class="global_h1_title">Manage Inventory</h2>
    <label class="login_form_input" id="classification-label">Classification <%- classification %></label>                   
   
    <input type="hidden" name="model_id" value="">


    
    <div class="management_grid">

      <div class="management_grid-elements">
        <label class="management_choice">
          <input type="radio" name="action" value="modify" required onclick="changeSubmitValue(this)"> Modify
        </label>
        <label class="management_choice">
          <input type="radio" name="action" value="delete" required onclick="changeSubmitValue(this)"> Delete
        </label>
      </div>
         
      
      <input type="submit" value="Proceed" class="submit_boton_global login_radio" id="submit-btn">

    </div>
  
</form>
<script>
  function changeSubmitValue(radio) {
      var submitBtn = document.getElementById('submit-btn');
      if (radio.value === 'modify') {
          submitBtn.value = 'Modify Inventory';
      } else if (radio.value === 'delete') {
          submitBtn.value = 'Delete Inventory';
      }
  }
</script>


 