<footer  class="current_year_copyright main_common--border_radiosBottomleft  main_common--border_radiosBottomRight main_common main_common--border_bottom main_common--borderleft main_common--border_rigth"></footer>
<script src="/js/script.js"></script>
</body>
</html>