<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <header class="main_common main_common--border_radiosTopleft  main_common--border_radiosTopRight  main_common--bordertop main_common--borderleft main_common--border_rigth main_common-gap-initial">
    <section class="container-company">
      <section class="container-company__name">CSE Motors</section>
      <section class="container-company__myaccount">My Account</section>
  </section>
  <nav class="mainnav">
      <ul class="mainnav__ul">
         <li class="mainnav__ul-li">Home</li>
         <li class="mainnav__ul-li">Custom</li>
         <li class="mainnav__ul-li">Sedan</li>
         <li class="mainnav__ul-li">SUV</li>
         <li class="mainnav__ul-li">Truck</li>
      </ul> 
  </nav>
  </header>
  
</head>