<body> 
  <header class="main_common main_common--border_radiosTopleft  main_common--border_radiosTopRight  main_common--bordertop main_common--borderleft main_common--border_rigth main_common-gap-initial">
    <div class="container-company">
      <div class="container-company__name">CSE Motors</div>
      <div class="container-company__myaccount">My Account</div>
    </div>
  <nav class="mainnav">
      <ul class="mainnav__ul">
         <li class="mainnav__ul-li">Home</li>
         <li class="mainnav__ul-li">Custom</li>
         <li class="mainnav__ul-li">Sedan</li>
         <li class="mainnav__ul-li">SUV</li>
         <li class="mainnav__ul-li">Truck</li>
      </ul> 
  </nav>
  </header>